<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/abb691a0-9374-4245-9441-00f3ff348194/resourceGroups/ResourceGroup1/providers/Microsoft.Web/sites/socialboarddemo</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://socialboarddemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>socialboarddemo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>socialboarddemo</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$socialboarddemo</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>